$font-family-base: 'Playfair Display', serif;
$font-family-alt: "Arial", sans-serif;
$font-family: 'Montserrat', sans-serif;
$icon-family-base: "ThemeIcons";

$font-size-base: 19px;
$line-height-base: 1.3;

$text-color: #ffffff;
$link-color: inherit;

$headings-font-family: $font-family-base;
$headings-font-weight: 400;
$headings-line-height: 1.3;
$headings-color: inherit;

$brand-color: #ffffff;
$brand-color-alt: #ffffff;

$button-color: $brand-color;
$button-text-color: #ffffff;

// viewport & screen sizes
$mobile: 480px;
$small-tablet: 768px;
$tablet: 1024px;
$small-desktop: 1280px;
$desktop: 1480px;
$viewport-increment: 1px;

// layout
$grid-columns: 12;
$grid-gutter: 20px;

// header
$desktop-header-height: 60px;
$mobile-header-height: 60px;
$hamburger-height: 21px;
$hamburger-width: 30px;
$hamburger-line-height: 3px;
$hamburger-translateY: ($hamburger-height - $hamburger-line-height) / 2;

// centering
$centering-width: 1320px; // centering-width = width + 80 (gutter width)
