@include placeholder {
    color: lighten($text-color, 10%);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #cccccc;
    color: $text-color;
    font-family: $font-family-base;
    line-height: $line-height-base;
    outline: none;

    &:focus {
        border-color: #999999;
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #cccccc;
    color: $text-color;
    font-family: $font-family-base;
    line-height: $line-height-base;
    outline: none;
}

textarea {
    line-height: 1.5;
    min-height: 118px;
    padding: 10px 12px;
}

.wpcf7 {
    .screen-reader-response {
        display: none !important;
    }

    .wpcf7-not-valid-tip {
        display: block;
    }

    .wpcf7-validation-errors {
        color: #b60005;
    }
}
