.is-noscroll {
    pointer-events: none;
    height: 100%;
    overflow: hidden;

    .header,
    .main-nav,
    .top {
        pointer-events: auto;
    }
}

.header {
    min-height: $desktop-header-height;
    background-color: $brand-color;
    padding: 15px 0;
    position: relative;
    z-index: 200;

    @include until($small-tablet) {
        min-height: $mobile-header-height;
    }

    img {
        display: block;
    }
}
