nav ul,
.menu {
    list-style: none;
    padding: 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    text-transform: uppercase;

    .menu {
        display: flex;

        .menu-item {
            margin-right: 20px;

            a {
                position: relative;
                &:hover {
                    color: white;

                    &:before {
                        @include menu-decoration;
                    }
                }
            }

            &.menu-item-active {
                a {
                    color: white;
                    &:before {
                        @include menu-decoration;
                    }
                }
            }
        }
    }

    .header-logo {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
        font-family: $headings-font-family;
    }
}