/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.centering {
    margin: 0 auto;
    max-width: $centering-width;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @include at-least($small-tablet) {
        padding-left: 40px;
        padding-right: 40px;
    }
}
